.telegram-notice {
  background: #0088cc10;
  border-left: 4px solid #0088CC;
  padding: 12px;
  margin-bottom: 24px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}
